<footer class="footer">
    <p>In case of any questions please send email to: <a href="mailto:contact@linkchatting.com">contact@linkchatting.com</a></p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>