body{
    background: #f5f5f5;
}

form {
    border-top: solid #eeeeee 1px;
    background: #efefef;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form input {
    border-top: solid #ffffff 1px;
    padding: 2px;
    width: 90%;
    margin-right: .5%;
}

form button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 2px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
    margin: 3px 2px;
    border-radius: 1px;
    font-size: 1.1em;
    background: #ebeef3;
    border-top: solid #fff 1px;
    color: #333;
}

#messages li.me {
    background: #dfefff;
}

#messages {
    margin-bottom: 40px
}

#messages li.new_user {
    background: #e3ede2
}

#messages li.warning {
    background: #e9e5ed
}

#messages li.error {
    background: #b33528
}

.chat{
    padding: 0;
    margin-top: 40px;
}
@media (max-width: 600px) {
    .chat {
        margin-top: 55px;
    }
}

.icon{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #4b4b4b;
    margin: 3px;
    float: left;
}
.icon i{
    color: white;
    font-size: 22px;
    position: relative;
    left: 6px;
    top: 2px;
}
.message{
    min-height: 40px;
    padding-left: 3px;
    padding-top: 5px;
}

#messages li .info .user{
    color: #4a6785;
    font-size: 0.6em;
    padding-left: 0.5em;
    display: inline-block;
}


#messages li .info .time{
    color: #6c6f80;
    font-size: 0.5em;
    padding-left: 0.9em;
    display: inline-block;
}

.input-screen{
    display: flex;
    position: fixed;
    top:0;
    width: 100vw;
    height: 100vh;
    background: #e2e2e2;
    z-index: 2000;
    align-items:center;
    justify-content: center;
    text-align: center;
}

.input-screen .input{
    margin: 20px;
    display: none;
}