body{
    background: #f5f5f5;
}

form {
    border-top: solid #eeeeee 1px;
    background: #efefef;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form input {
    border-top: solid #ffffff 1px;
    padding: 2px;
    width: 90%;
    margin-right: .5%;
}

form button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 2px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 7px;
    margin: 1px 2px;
    border-radius: 3px;
    font-size: 1.1em;
    background: #efeff5;
    border-bottom: solid #dadada 1px;
    color: #333;
}

#messages li.me {
    background: #d2dff1;
    border-bottom: solid #b8cad8 1px;
}

#messages {
    margin-bottom: 40px
}

#messages li.new_user {
    background: #e3ede2
}

#messages li.warning {
    background: #e9e5ed
}

#messages li.error {
    background: #dc4f41;
    color: #fdf7eb;
}

.chat{
    padding: 0;
    margin-top: 35px;
}
@media (max-width: 600px) {
    .chat {
        margin-top: 55px;
    }
}

.icon{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #446794;
    margin: 3px;
    float: left;
    margin-right: 8px;
}
.icon i{
    color: white;
    font-size: 19px;
    position: relative;
    left: 2px;
    top: 4px;
}
.message{
    min-height: 40px;
    padding-left: 3px;
    padding-top: 5px;
}

#messages li .info{
    line-height: 14px;
    margin-left: 36px;
}


#messages li .info .user{
    color: #4a6785;
    font-size: 0.67em;
    padding-left: 0.5em;
    display: inline-block;
}


#messages li .info .time{
    color: #6c6f80;
    font-size: 0.5em;
    padding-left: 0.9em;
    display: inline-block;
}

.input-screen{
    display: flex;
    position: fixed;
    top:0;
    width: 100vw;
    height: 100vh;
    background: #454c98;
    z-index: 500;
    align-items:center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.input-screen .input{
    margin: 20px;
    display: none;
}