body{
  margin: 0;
  font-family: 'Roboto', sans-serif!important;
}

.jumbotron {
  background: #5b65cc;
  color: white;
  padding-bottom: 80px; }
.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7; }
.jumbotron .btn-primary:hover {
  background: #7646c1; }
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em; }
.navbar + .jumbotron {
  margin-top: -20px; }
.jumbotron .lang-logo {
  display: block;
  background: #0276d0;
  border-radius: 50%;
  overflow: hidden;
  width: 123px;
  height: 123px;
  margin: auto;
  border: 2px solid #00ceff; }
.jumbotron .lang-logo img {
  max-width: 100%; }

.info{
  font-size: 1.3em;
}

.info li{
  margin: 3px 1px;

}
.navbar-header{
  /*height: 35px;*/
}
.navbar-toggle.collapsed{
  border: 1px solid #7b9bc5!important;
}
.navbar-toggle{
  padding: 6px;
}

.navbar-toggle.collapsed .icon-bar{
  background-color: #7b9bc5!important;
}
.navbar{
  min-height: 35px;
  background: #576ab0;
  border-color: #425b79;
  margin-bottom: 1px;
}

.navbar li a{
  height: 35px;
  padding: 8px;
  background: #6075b9 !important;
  color: white!important;
}
.navbar li a:hover{
  background: #5e6c9b !important;
}
.navbar li.active a{
  background: #475377 !important;
}


.footer{
  color: #f5f5f5;
  padding: 7px 18px;
  padding-top: 20px;
  font-size: 16px;
  background: #383838;
  border-top: 3px solid #3390dc;
  min-height: 100px;
  margin-top: 27px;
}

.btn{
  border-radius: 3px!important;
}
input.input-lg{
  padding: 2px 10px;
  border-radius: 2px!important;
}