.jumbotron {
  background: #576ab0;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

.info{
  font-size: 1.3em;
}

.info li{
  margin: 3px 1px;

}

.navbar{
  min-height: 35px;
  background: #576ab0;
  border-color: #bfbfbf;
  margin-bottom: 1px;
}

.navbar li a{
  height: 35px;
  padding: 8px;
  background: #546494 !important;
  color: white!important;
}
.navbar li a:hover{
  background: #697aac !important;
}
