<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/chat.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
  <script src="/js/color-hash.js"></script>
  <script src="https://use.fontawesome.com/59d329f20f.js"></script>


</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container" style="margin-top: 2em">
  <header>
    <h1>API Documentation</h1>
  </header>

  <h3 id="create-conversation"><a href="#create-conversation">Creating new conversation</a></h3>
  <p>HTTP GET Endpoint</p>
  <pre>GET https://linkchatter.com/api/v1/get-link</pre>

  <p>Example response</p>
  <pre>
{
  "conversation_id": "mde0odk2odm3odk0mjexmjcwm",
  "key": "1814c55ade47aa623aa83a8b5681bf58597a8cfec37f6919b8db6f"
}</pre>

  <p>Link to conversation can be build by following formula</p>
  <pre>https://linkchatter.com/chat/{conversation_id}</pre>

  <p>So that the URL will look like this</p>
  <pre>https://linkchatter.com/chat/mde0odk2odm3odk0mjexmjcwm</pre>

  <p>In that case, user have to input authorisation key on chat web page</p>

  <h4>Attaching a key to the link</h4>

  <p>There is also possibility to share link with key</p>
  <pre>https://linkchatter.com/chat/{conversation_id}:{key}</pre>
  <pre>https://linkchatter.com/chat/mde0odk2odm3odk0mjexmjcwm:1814c55ade47aa623aa83a8b5681bf58597a8cfec37f6919b8db6f</pre>

  <h4>Automatically set nickname</h4>

  <p>If you wish to set nickname for users, you can do it by simply adding <i>:{nickname}</i> to end of the link</p>

  <pre>https://linkchatter.com/chat/{conversation_id}:{key}:{nickname}</pre>
  <pre>https://linkchatter.com/chat/mde0odk2odm3odk0mjexmjcwm:1814c55ade47aa623aa83a8b5681bf58597a8cfec37f6919b8db6f:nickname</pre>

  <h3 id="posting-message"><a href="#posting-message">Posting message via API</a></h3>

  <p>HTTP POST Endpoint</p>
  <pre>POST https://linkchatter.com/api/v1/message</pre>
  <p>Endpoint accept only json data</p>
  <pre>
{
  "conversation_id":"mde0odk3ndm1mdu1mdexmjcwm",
  "key":"4260c795e9b4e9da5b38b7ab17c6dbc8908b52bc5f5b723c9d553f",
  "message":"hello chatter from API :)",
  "nickname":"john doe"
}</pre>
<p>Necessary field</p>
  <ul>
    <li>{conversation_id} - (string) conversation identificator gained from /get-link endpoint</li>
    <li>{key} - (string) authorisation key gained from /get-link endpoint </li>
    <li>{message} - (string) message to send</li>
    <li>{nickname} - (string) nickname displayed next to message</li>
  </ul>

  <p>If message was send, response will look this</p>
  <pre>
{
  "message": "send"
}</pre>
</div>

  <% include ../partials/footer.ejs %>
</body>

</html>
