<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/chat.css" />


</head>

<body>


  <% include ../partials/nav.ejs %>
<div class="container-fluid chat">
  <ul id="messages"></ul>
  <form action="">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Enter message" autofocus id="m" autocomplete="off" disabled="disabled">
      <span class="input-group-btn">
        <input class="btn btn-default" type="submit" value="Send" id="m_send" disabled="disabled">
      </span>
    </div><!-- /input-group -->
  </form>
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="/js/chat.js"></script>
</div>

  <form id="input_screen" class="input-screen" style="display: none;" action="">
    <div>
      <div class="input" id="input_key_field">
        <div>
          <label for="input_key">Authorization Key</label>
        </div>
        <input type="text" id="input_key" name="input_key" class="form-control" placeholder="Authorization Key">
      </div>

      <div class="input" id="input_nickname_field">
        <div>
          <label for="input_nickname">Nickname</label>
        </div>
        <input type="text" id="input_nickname" name="input_nickname" class="form-control" placeholder="Nickname">
      </div>

      <input type="submit" class="btn btn-success" id="submit_input_screen" value="Confirm">
    </div>


  </form>

</body>

</html>
