<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/chat.css" />
  <script src="/js/color-hash.js"></script>
  <script src="https://use.fontawesome.com/59d329f20f.js"></script>


</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container-fluid chat">
  <ul id="messages"></ul>
  <form action="">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Enter message" id="m" autocomplete="off" disabled="disabled">
      <span class="input-group-btn">
        <input class="btn btn-default" type="submit" value="Send" id="m_send" disabled="disabled">
      </span>
    </div><!-- /input-group -->
  </form>
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="/js/chat.js"></script>
</div>


</body>
</html>
