<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="/js/index.js"></script>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Share a link and start chatting!</h1>
    <p> </p>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <input type="text" id="link" class="form-control input-lg" placeholder="Chat link" aria-describedby="basic-addon1" disabled="disabled">
    </div>

    <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center" style="margin-top: 2em">
      <a id="go_to_link" class="btn btn-primary btn-lg">Go to chat</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <h1>How does it work?</h1>
      <ul class="info">
        <li>Copy link to chat displayed above</li>
        <li>Paste it into address bar in your web browser</li>
        <li>Share that link with other people to start chatting</li>
        <li>Just it!</li>
      </ul>
    </div>
    <div class="col-md-6 col-xs-12">
      <h1>When to use it?</h1>
      <ul class="info">
        <li>If you want to chat with people who can't do it on social media</li>
        <li>If you get email from someone, and you want to quick chat with this person</li>
        <li>If you do not want to this conversation will be stored permanently <i>(all messages will be deleted after 2 days)</i></li>
      </ul>
    </div>


  </div> <!-- row -->

</div>
<div class="container" style="margin-top: 2em">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1> Use API</h1>
      <p>Thanks to our simple API you can integrate instant chatting to your system</p>
      <a href="/api" class="btn btn-primary">Check API Documentation</a>
    </div>


  </div> <!-- row -->

</div>

<footer class="footer">
  <p>In case of any questions please send email to: <a href="mailto:contact@linkchatting.com">contact@linkchatting.com</a></p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>

</body>
</html>
